<form action="/produce" method="post">
  <label><h3>Choose from available items</h3></label>

  <%ProduceDatabase.order(:name).all.each do |produce|%>
  <label><%=produce.name%></label>
  <input type="checkbox" name="produce[name][]" value="<%=produce.name%>" id="produce_name"><br>
  <%end%>
  <br>
  <input type="submit" value="Add item(s)">
</form>
<br></br>
<form action="/produce/new" method="post">
  <h3>Don't see what you're looking for? Add it here:</h3>
  <input type="text" name="name" placeholder="name">
  <input type="text" name="shelf_life" placeholder="shelf life">
  <input type="submit" value="Add it!">
</form>
<br>
<a href="/users/user">I don't want to add anything. Take me back to my fridge please.</a>
