<table>
  <tr>
    <th> Item     </th>
    <th> Shelf Life  </th>
    <th>              </th>
  </tr>
  <% ProduceDatabase.order(:name).all.each do |produce| %>

  <tr>
    <form action="/produce_database/<%= produce.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <td><input type="text" name="name" placeholder="<%= produce.name %>"></td>
      <td><input type="text" name="shelf_life" placeholder="<%= produce.shelf_life %> Days"></td>
      <td><input type="submit" value="Edit <%= produce.name %>"></td><br>
    </form>
  </tr>
</table>
<% end %>
<br></br>
<a href="/users/user">I don't want to edit anything. Take me back to my fridge please.</a>
