<h3>Add new produce here</h3>
<form action="produce_database/new" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="shelf_life" placeholder="Shelf Life">
  <input type="submit" value="Add item">
</form>
<br><br><br>
<a href="/users/user">Go back home</a><br>
<br>
<a href="/users/logout">Log out</a>
